.nav-bar{
    padding-bottom: 25px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid white;
}

.techbloglink{
    margin-left: 30px;
    display:inline-flex;
    margin-top: 10px;
}
.logo-navbar {
    width: 40px;
    margin-top: 10px;
}

#h1techblog{
    text-decoration: none;
    margin-top: 7px;
    font-size: 27px;
    color: white;
}
    
.login-register{
    display: inline-block;
    min-width: 120px;
}

.write-post-button {
    padding: 12px 20px;
    gap: 12px;
    width: 149px;
    height: 38px;
    background: #F48023;
    border-radius: 5px;
}


li {
    list-style-type: none;
}

.links_mainpage{
    justify-content: end;
}