.Leftpanel {
    display: inline-block;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
    height: 300px;
}



.form-inputs_search {
    color: black;
    font-size: 14px;
}

#h2menu_mainpage{
    color: #808080;
    font-size: 18px;

}

.questions {
    width: 310px;
    height: 41px;
    font-size: 20px;
    background-color: #080321;
    border: none;
    
}

.listicon {
    position: absolute;
    width: 23px;
    top: 202px;
    left: 90px;
}

.Leftpanel button {
    color: #F48023;
}