.Leftpanel {
    display: inline-block;
    margin-left: 15px;
    height: 100%;
    
}



.form-inputs_search {
    color: black;
    font-size: 14px;
}

#h2menu_mainpage{
    color: #808080;
    font-size: 18px;
    margin-top: 30px;
}

.questions {
    width: 310px;
    height: 41px;
    font-size: 20px;
    text-align: start;
    padding-left: 52px;
    background-color: #080321;
    border: none;
    z-index: 3;
}

.listicon {
    position: absolute;
    width: 23px;
    top: 252px;
    left: 30px;
    z-index: 1;
}

.Leftpanel button {
    color: #F48023;
}