.editor {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: 400px;
    background-color: #080321;
    color: #bababa;
    border-radius: 10px;
}

.post-button {
    gap: 12px;
    width: 149px;
    height: 38px;
    background: #F48023;
    border-radius: 5px;
    margin-top: 40px;
    transition: all 0.3s ease;
}

.post-button:hover{
    background-color: white;
    color: #F48023;
    cursor: pointer;
}

.title-area {
    margin-left: 400px;
    padding-bottom: 10px;
    flex-direction: column;
    display: flex;
    margin-top: 0px;
}

.title-area label {
    color: #808080;
    padding-bottom: 0%;
    font-size: 20px;
}

.title-area input {
    background-color: #080321;
    border: none;
    color: #FFFFFF;
    width: 1000px;
    height: 40px;
    border-radius: 5px;
}

.editor-bar {
    width: 1000px;
}


.button-position {
    display: flex;
    justify-content: flex-end;
    padding-right: 9%;
}

.error-message-new-post{
    color: red;
    display: flex;
    justify-content: flex-end;
    padding-right: 9%;
    padding-top: 15px;
}