
body{
    background-color: #050214;
}


.form-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#tamanhojava{
    width: 374px;
    height: 518px;
    margin-right: 200px;
    margin-top: 30px;
}


.here{
    color: #2148C0;

}

.signup{
    font-size: 35px;
    width: 65%;
    color: #fff;
}

.login-here{
    font-size: 20px;
    width: 60%;
    color: #fff;
}

.form-label{
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    margin-top: 30px;
}


.form-inputs {
    color: #fff;
    margin-bottom: 40px;
    
}


.form-input {
    color: #fff;
    background: none;
    display: flex;
    width: 70%;
    padding: 12px 28px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

.form-input-btn {
    width: 470.9px;
    height: 55.23px;
    left: 863.1px;
    top: 741.77px;
    margin-left: 30px;
    background: #2148C0;
    color: #fff;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-input-btn:hover {
    background-color: #F48023;
    color: white;
    cursor: pointer;
  }

input:focus::placeholder {
    color: transparent;
  }

.error-message{
    color: red;
}
